.example-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100px;
  padding-top: 23px;
  text-align: center;
}

mat-toolbar {
  position: absolute;
  background-color: rgba(85, 0, 255, 0.316);
}

.btn-primary-outline {
  color: aliceblue;
}
